* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.container-slider {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 5px solid black;
}

.box {
    display: flex;
    margin-left: 50%;
    gap: 100px;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.move {
    min-width: 350px;
    height: 350px;
    transition: 0.09s;
    &:hover{
        border: 1px solid black;
        box-shadow: 0 0 40px 10px rgb(0, 0, 0);
    }

}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.arrow {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left,
.right {
    position: absolute;
    top: 10%;
    cursor: pointer;

}

.left {
    left: 0;
}

.right {
    right: 0;
}


.circle {
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.circle.active {
    border: 2px solid blue;
    border-radius: 50%;
}